<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main :: head}">
    <title id="pageTitle">Главная</title>
</head>
<body>
    <div id="content">
        <h1>Добро пожаловать в библиотеку</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Книги</h5>
                        <p class="card-text">Управление книгами в библиотеке</p>
                        <a href="/web/books" class="btn btn-primary">Перейти к книгам</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Авторы</h5>
                        <p class="card-text">Управление авторами книг</p>
                        <a href="/web/authors" class="btn btn-primary">Перейти к авторам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 